.fa-tree:before {
    content: "\f1bb";
  }
.fa-cright:before {
    content: "\f1f9";
  }
.fa-plus-calendar:before {
    content: "\f271";
  }
.fa-shower:before {
    content: "\f2cc";
  }
.fa-jet:before {
    content: "\f0fb";
  }